/**
 * Author: Joseph Connelly - the realist, the illist
 * Project: RSS Content Delivery Web Application
 * Backend: ASP.NET Core 8 Razor Page web app
 * Frontend: JavaScript, CSS, HTML
 * Date: Feburary 2024
 */

:root {
    --precise-darkblue: #003865;
    --precise-blue: #003866;
    --precise-lightblue: #73B2E6;
    --precise-darkgreen: #67812B;
    --precise-green: #97D700;
    --precise-lightgreen: #96D600;
    --precise-white: #FFFFFF;
}

*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: var(--precise-darkblue);
    height: 100vh;
    height: 100svh;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.meeting-page {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-shadow: 1px 1px 1px black;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 2em;
    margin: 0em 2em 2em;
}

.meeting-info {
    align-self: flex-end;
    color: var(--precise-white);
    background: linear-gradient(to bottom, var(--precise-lightgreen), var(--precise-darkgreen));
    box-shadow: 0 7px 30px rgba(62, 9, 11, .3);
    border-radius: 10px;
    font-size: 0.75em;
    padding: 0.75rem 1.5rem 0.75rem;
}

.meeting-board {
    margin-top: 2em;
    color: var(--precise-white);
    background: linear-gradient(to bottom, var(--precise-lightblue), var(--precise-blue));
    box-shadow: 0 7px 30px rgba(62, 9, 11, .3);
    border-radius: 10px;
    padding: 2em 3em 1em;
}

.meeting-header {
    font-size: 1.75em;
}

.meeting-date {
    font-size: 0.75em;
    white-space: nowrap;
}

.meeting-icon {
    top: 3px;
    width: 1.5em;
    height: 1.5em;
    position: relative;
    vertical-align: baseline;
    margin-right: 0.2em;
}

.pin {
    fill: var(--precise-green);
    filter: url("#dropShadow");
}

.meeting-list ul {
    padding: 0.5em 0em 0.5em;
    position: relative;
}

.meeting-board ul li {
    list-style: none;
    font-size: 1.15em;
    margin: 0.1em;
}

.meeting-board ul li span {
    font-size: 1em;
    font-weight: 500;
    transform: translateY(-2px);
    background: var(--precise-green);
    color: var(--precise-white);
    text-align: center;
    display: inline-block;
    border-radius: 50%;
    margin-right: 0.75em;
    width: 1.5em;
    height: 1.5em;
    line-height: 1.6em;
}

@media (prefers-reduced-motion: no-preference) {
    html {
        scroll-behavior: smooth;
    }
}